name: Microservices Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    name: Run Unit tests

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'corretto'
        cache: maven
    - name: Tests with Maven
      run: mvn -B test --file ./mscompra/pom.xml

  build:
    needs: tests
    name: Build maven package
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'corretto'
        cache: maven
    - name: Cache local Maven repository
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-maven-${{ hashFiles('./mscompra/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Build package war with Maven
      run: mvn -B package -DskipTests --file ./mscompra/pom.xml
    - name: Upload .war
      uses: actions/upload-artifact@v2
      with:
        name: artifact
        path: ./mscompra/target/mscompra.war

